<!DOCTYPE html>
<html>
  <head>
    <title>DS Implementation</title>
    <link rel="stylesheet" href="static/styles/bootstrap.min.css">
	<link rel="stylesheet" href="static/styles/unicons.css">											  	   
    <link rel="stylesheet" href="static/styles/tooplate-style.css">
    
  </head>
  <body>	 
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="static/images/logo.png" style="width:40px;height:40px;margin-right:10px;">IIT MADRAS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link"><span data-hover="Home">Home</span></a>
                    </li>
                    <li class="nav-item">				 
                        <a href="/members" class="nav-link" onclick="load_home()"><span data-hover="Members">Members</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Color mode
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div id="id"> </div>

    <!-- FOOTER -->
     <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center"></p>
                        <p class="copyright-text text-center">Designed by </p>
                    </div>
                    
               </div>
          </div>
     </footer>

	<script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/Headroom.js"></script>
    <script src="static/js/jQuery.headroom.js"></script>
    <script src="static/js/smoothscroll.js"></script>
    <script src="static/js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function load_home() {
            document.getElementById("id").innerHTML='<object type="text/html" data="team.html" ></object>';
       }
    </script>

  </body>
</html>